/* Enter your custom styles here */

.logalilogo {
    height: 100%;
}

.btpTitle {
    color: white !important;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: none !important;
    text-decoration: none !important;
}